$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
.body_base {
  height: 60%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.body_nopad {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/*  CDLA added  */

html, #view { height: 100%}

.container_full {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100%;
}

.ft_frame {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  left: 0px;
}

.noscroll {
  overflow: hidden;
}

.cite_field_label {
    margin-right : 6px;
    font-weight : bold;
}

.narrative_text {
    margin-left: 20px;
}

#citation_details {
    padding-top: 12px;
    padding-bottom: 12px;
}

#uc_libs {
    padding-bottom: 12px;
    //color: #007FD2;
}

.pull_left_adjust {
    margin-left: 24 px;
}

.pull_right_adjust {
    margin-right: 24 px;
}

.glyph_green {
    color: #009900;
    padding-right: 6pt;
}

.glyph_red {
    color: #FF0000;
    padding-right: 6pt;
}

.glyph_black {
    color: black;
    padding-right: 6pt;
}

.citation_title {
    font-style: italic;
}

.button_list > li {
    padding-bottom: 10pt;
}

.left_separated {
    border-left: 1px solid #F6F6F6;
}

.top_separated {
    border-top: 1px solid #F6F6F6;
    padding-top: 6px;
}

.btn_float_over {
    position: absolute;
    padding-bottom: 12px;
    margin-top: -20px;
    left: 50%;
    right: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
}

.btn_float {
    position: absolute;
    padding-top: 12px;
    left: 50%;
    right: 50%;
    width: 10px;
    height: 10px;
    z-index: 999;
}

/* end CDLA added */

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


