<!-- COINS metadata -->
<span class="73988" title="{{item.query}}"></span>

<div id="citation_panel" class="container-fluid" ng-show="item.displayCitation">
    <div class="panel panel_default" ng-show="item.displayCitation.container_title">
        <div class="row citation_display">
            <div id='title_display_field' class='col-md-12' ng-show="item.displayCitation.title">
                <span class='cite_field_val'>{{item.displayCitation.title}}</span>
            </div>
            <div id='source_display_field' class='col-md-12'>
                <span class='source_val'>{{item.displayCitation.authors}}</span>
                <span class='source_val'>{{item.displayCitation.container_title}}{{item.displayCitation.container_title_separator}}</span>
                <!--
                <span class='source_val' ng-show="item.displayCitation.year">{{item.displayCitation.year}}{{item.displayCitation.year_separator}}</span>
                -->
                <span class='source_val' ng-show="item.displayCitation.volume">
                    vol. {{item.displayCitation.volume}} issue {{item.displayCitation.issue}}{{item.displayCitation.volume_issue_separator}}
                </span>
                <span class='source_val' ng-show="item.displayCitation.pages">pp. {{item.displayCitation.pages}}</span>
            </div>
        </div>
    </div>
</div>  

<div id="error_panel"><div id="error_message" class="col-md-12"></div></div>

<div id ="wait_page" class="container-fluid" ng-class="{'hidden': !viewState.showWait}">
    <h1>An interstitial in time saves nine.</h1>
</div>

<div id='fulltext' class="ft_frame" ng-class="{'hidden': !viewState.showFullText}">
    <iframe src="{{item.fullTextTarget}}" class="ft_frame" onLoad="displayFulltext()"></iframe>
</div>

<div id="resources" class="container-fluid" ng-class="{'hidden': !viewState.showOptions}">
    <div class="well">
        <p><strong>Available digitally from</strong></p>
        <ul class="list-unstyled">
            <li ng-repeat="resource in item.resources| digitalLinks">
                <a href="{{resource.target}}"><span ng-bind-html="resource.source"></span></a>
            </li>
        </ul>
    </div>

    <div id="your_library_display" class="well">
        <p><strong>Copies in your library</strong></p>
        <ul class="list-unstyled">
            <ul ng-repeat="resource in item.resources| printHoldings" class="list-inline">
                <li ng-show="resource.location"><strong>Location: </strong>{{resource.location}}</li>
                <li ng-show="resource.local_id"><strong>Call number: </strong>{{resource.local_id}}</li>
                <li ng-show="resource.description"><strong>Holdings: </strong>{{resource.description}}</li>
            </ul>
        </ul>
    </div>
</div>

<div id="debug" ng-show="viewState.showDebug">
    <div id="original_citation">
        <h2>Original Citation</h2>
        <p>{{item.originalCitation}}</p>
    </div>
    <div id="citation_events">
        <h2>Citation Events</h2>
        <ul>
            <li ng-repeat="event in item.citationEvents">{{event}}</li>     
        </ul>
    </div>
    <div id="citation">
        <h2>Final Citation</h2>
        <p>{{item.citation}}</p>  
    </div>
    <div>
        <h2>Display Citation</h2>
        <p>{{item.displayCitation}}</p>
    </div>
    <div>
        <h2>Resources</h2>
        <ul>
            <li ng-repeat="resource in item.resources">{{resource}}</li>
        </ul>
    </div>
    <div>
        <h2>View State</h2>
        <p>{{viewState}}</p>
    </div>
</div>
