<!-- COINS metadata -->
<span class="Z3988" title="{{item.query}}"></span>

<div id="citation_panel" class="container-fluid" ng-show="item.displayCitation && viewState.displayCitationPanel">

    <div ng-show="item.displayCitation.container_title">

        <div class="row" id="citation_author_title">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-10">
                <ul class="list-unstyled">
                    <li id='title_display_field' class='citation_title' ng-show="item.displayCitation.title">
                        <span class='cite_field_val'>{{item.displayCitation.title}}</span>
                    </li>
                    <li>
                        <span>{{item.displayCitation.authors}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="citation_details">
            <div class="col-lg-8 col-md-7 col-sm-6 top_separated">
                <ul class="list-unstyled">
                    <li ng-show="item.displayCitation.container_title">
                        {{item.displayCitation.container_title}}
                    </li>
                    <li ng-show="item.displayCitation.volume">
                        <strong>Volume:&nbsp;</strong>{{item.displayCitation.volume}}
                    </li>
                    <li ng-show="item.displayCitation.issue">
                        <strong>Issue:&nbsp;</strong>{{item.displayCitation.issue}}
                    </li>
                    <li ng-show="item.displayCitation.pages">
                        <strong>Pages:&nbsp;</strong>{{item.displayCitation.pages}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" ng-show="complete">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <ul class="list-unstyled">
                    <li id="display_controls" class="dropdown" ng-show="navState.currentPage === 'ourl'">
                        <a href class="dropdown-toggle" data-toggle="dropdown" ng-show="item.eResources.length > 1">
                            <span class="glyphicon glyphicon-ok-sign glyph_green"></span><span>Online versions ({{item.eResources.length}}) <b class="caret"></b></span>
                        </a>
                        <span ng-show="!item.fullTextFound && complete">
                            <span class="glyphicon glyphicon-remove-sign glyph_red"></span><span>No online version found</span>
                        </span>
                        <span ng-show="item.eResources.length === 1 && complete">
                            <span class="glyphicon glyphicon-ok-sign glyph_green"></span><span>Online version found</span>
                        </span>
                        <ul class="dropdown-menu">
                            <li ng-repeat="resource in item.eResources">
                                <a href ng-bind-html="resource.source" ng-click="viewState.switchFullTextDisplay($index)"></a>   
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 left_separated">
                <ul class="list-unstyled button_list">
                    <li ng-show = "item.holdingsFound">
                        <span class="glyphicon glyphicon-ok-sign glyph_green"></span><span>Available on campus</span>
                    </li>
                    <li ng-show = "!item.holdingsFound">
                        <span class="glyphicon glyphicon-remove-sign glyph_red"></span><span>Not available on campus</span>
                    </li>
                    <li>
                        <button id="show_all_button" type="button" class="btn btn-primary" href ng-click="viewState.changeView('options')" ng-show="viewState.showFullText">
                            <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
                            Show other options
                        </button>
                        <button id="hide_options_button" type="button" class="btn btn-primary" href ng-click="viewState.changeView('fullText')" ng-show="viewState.showOptions">
                            <span class="glyphicon glyphicon-remove">&nbsp;</span>
                            Hide other options
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>  

<div id="error_panel"><div id="error_message" class="col-md-12"></div></div>

<div id ="wait_page" class="container-fluid" ng-class="{'hidden': !viewState.showWait}">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10./">
            <div class="progress">
                <div id="progress_bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{progressBar.percent}}" aria-valuemin="10" aria-valuemax="100" style="width: {{progressBar.percent}}%;">
                    {{progressBar.text}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Something to read while you wait</h3>
        </div>
        <div class="panel-body">
            <div class="text">{{viewState.quote.quote}}</div>
            <div class="author">-- {{viewState.quote.author}}</div>
        </div>
    </div>
</div>

<div id='fulltext' class="container_full" ng-show="viewState.showFullText || viewState.showFullTextMax" ng-repeat="resource in viewState.displayTargets">
    <a class="btn_float_over glyphicon glyphicon-collapse-up" href ng-show="viewState.showFullText" ng-click="viewState.changeView('fullTextMax')"></a>
    <a class="btn_float glyphicon glyphicon-collapse-down glyph_black" href ng-show="viewState.showFullTextMax" ng-click="viewState.changeView('fullText')"></a>
    <iframe class="ft_frame" src="{{resource.target}}" onLoad="displayFulltext()" ng-show="viewState.fullTextIndex === $index"></iframe>
</div>

<div id="resources" class="container-fluid" ng-show="viewState.showOptions">
    <div class="well">
        <p><strong>Available digitally from</strong></p>
        <ul class="list-unstyled">
            <li ng-repeat="resource in item.eResources">
                <a href ng-bind-html="resource.source" ng-click="viewState.switchFullTextDisplay($index)"></a> 
            </li>
        </ul>
    </div>
    <div id="your_library_display" class="well">
        <p><strong>Copies in your library</strong></p>
        <ul class="list-unstyled">
            <ul ng-repeat="resource in item.resources| printHoldings" class="list-inline">
                <li ng-show="resource.location"><strong>Location: </strong>{{resource.location}}</li>
                <li ng-show="resource.local_id"><strong>Call number: </strong>{{resource.local_id}}</li>
                <li ng-show="resource.description"><strong>Holdings: </strong>{{resource.description}}</li>
            </ul>
        </ul>
    </div>    
</div>

<div id="debug" ng-show="viewState.showDebug">
    <div id="original_citation">
        <h2>Original Citation</h2>
        <p>{{item.originalCitation}}</p>
    </div>
    <div id="citation_events">
        <h2>Citation Events</h2>
        <ul>
            <li ng-repeat="event in item.citationEvents">{{event}}</li>     
        </ul>
    </div>
    <div id="citation">
        <h2>Final Citation</h2>
        <p>{{item.citation}}</p>  
    </div>
    <div>
        <h2>Display Citation</h2>
        <p>{{item.displayCitation}}</p>
    </div>
    <div>
        <h2>Resources</h2>
        <ul>
            <li ng-repeat="resource in item.resources">{{resource}}</li>
        </ul>
    </div>
    <div>
        <h2>View State</h2>
        <p>{{viewState}}</p>
    </div>
</div>
