<div id='debug' ng-class="{'hidden': viewState.showDebug != true}">
  <div id='citation'>
    <h2>Citation</h2>
    <p>{{item.citation}}</p>
  </div>
  <div>
    <h2>Resources</h2>
    <p>{{item.resources}}</p>
  </div>
  <div>
    <h2>ViewState</h2>
    <p>{{viewState}}</p>
  </div>
  
  <div id='fulltext' class="ft_frame" ng-class="{'hidden': !viewState.showFullText || !item.fullTextTarget}">
    <h2>Show fulltext here</h2>
    <iframe src='{{item.fullTextTarget}}' class='ft_frame'></iframe>
  </div>
</div>
