'use strict';

var cdlaConfig = angular.module('cdlaConfig', []);
var aggregatorAddress = 'http://cdla-api-stg.cdlib.org:3005/';

var appProperties = {
  'INSTANCE' : 'DEV',
  'AGGREGATOR_ADDRESS': aggregatorAddress,
  'CITATION_SERVICE_ADDRESS': aggregatorAddress + 'citation',
  'MAX_LINK_DISPLAY': 3,
  'FILTER_FULLTEXT_DISPLAY': [
    'SpringerLink Books Complete 1',
    'SpringerLink Books Complete 2',
    'Synergy Blackwell Premium 1',
    'Synergy Blackwell Premium 2',
    'Synergy Blackwell Premium 3'
  ],
  NOFRAME_FULLTEXT_DISPLAY: ['Oxford University Press Journals Current'],
  VERSION: '0.1.0-sprint06',
  SPRINT_NAME: 'Sweetheart',
  SPRINT_IMAGE: 'Valentine-Day-Candy-Hearts-2.jpg',
  RELEASE_DATE: 'February 17, 2015'

};

cdlaConfig.factory('cdlaProperties', function() {
  return appProperties;
});
